<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../../static/css/index.css">
  <script src="../../static/js/jquery-1.11.3.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" id="select">
  <ul class="nav nav-pills">
    <!--加热炉-->
    <li class="dropdown middle-nav" role="presentation">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">加热炉<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">当前状态</a></li>
        <li role="presentation"><a href="#">历史状态</a></li>
        <li role="presentation"><a href="#">统计</a></li>
      </ul>
    </li>
    <!--产品零件-->
    <li class="dropdown middle-nav" role="presentation">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">产品零件<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">最新零件</a></li>
        <li role="presentation"><a href="#">零件列表</a></li>
        <li role="presentation"><a href="#">产品</a></li>
        <li role="presentation"><a href="#">工艺</a></li>
      </ul>
    </li>
    <!--辅助-->
    <li class="dropdown middle-nav" role="presentation">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">辅助<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">材料</a></li>
        <li role="presentation"><a href="#">模具</a></li>
        <li role="presentation"><a href="#">厂商</a></li>
        <li role="presentation"><a href="#">设备</a></li>
      </ul>
    </li>
    <!--故障-->
    <li class="dropdown middle-nav" role="presentation">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">故障<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">当前故障</a></li>
        <li role="presentation"><a href="#">故障类型列表</a></li>
        <li role="presentation"><a href="#">故障统计</a></li>
      </ul>
    </li>
    <!--系统操作-->
    <li class="dropdown middle-nav" role="presentation">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">系统操作<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">操作类型</a></li>
        <li role="presentation"><a href="#">操作类型列表</a></li>
        <li role="presentation"><a href="#">安全门统计</a></li>
      </ul>
    </li>
    <!--帮助-->
    <li class="dropdown middle-nav" role="presentation">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">帮助<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">帮助文档</a></li>
      </ul>
    </li>
  </ul>
</div>
</body>
</html>